# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Environment variables
# =========================
.env

# =========================
# Conda / virtual environments
# =========================
.envrc
.venv/
venv/
conda-meta/
*.conda

# =========================
# OS / editor artifacts
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
